---
layout: page
---
<!--<span class="align-left">{% include author-photo.html %}</span>-->

<div class="text-center">
<p>
  <span>{% include author-photo.html %}</span>
</p>

<p>
Get in touch using one of the following services.
</p>

<p>
<a rel="me" href="https://twitter.com/MikeCodeAwesome" class="u-url btn btn--primary" style="margin: 10px; "><i class="fab fa-twitter" style="margin-right: 1em;"></i> Twitter</a>
<a rel="me" href="https://linkedin.com/in/mikechristianson" class="u-url btn btn--primary" style="margin: 10px"><i class="fab fa-linkedin-in" style="margin-right: 1em;"></i> LinkedIn</a>
<a rel="me" href="https://github.com/MikeChristianson" class="u-url btn btn--primary" style="margin: 10px"><i class="fab fa-github" style="margin-right: 1em;"></i> GitHub</a>
</p>

<!--<p>
Correction or clarification? Create a <a href="https://github.com/MikeChristianson/MikeChristianson.github.io/issues">GitHub Issue</a>.
</p>-->
</div>
