<div style="display: inline-block; width: 50%; float: left; text-align: center; border: thin solid white; color: #fff; background-color: #dd4814;">
  <p style="text-align: center;">
    <img id="HeaderBarImage" src="http://oct2016.desertcodecamp.com/images/dcc-home.png" alt="Desert Code Camp - 2016.1">&nbsp;&nbsp;
    Hello Desert Code Camp!
  </p>
</div>
<div style="display: inline-block; width: 50%; text-align: center; border: thin solid white; color: #fff; background-color: #DA3B3E;">
  <p style="text-align: center;">
    <img src="https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/a/b/8/d/global_441163917.jpeg" alt="Phoenix Mobile & IoT Technology Group" style="background-color: #FFF" width="24" height="24">&nbsp;&nbsp;
    Hello PHX Mobile Meetup!
  </p>
</div>
<div style="text-align: center; background-color: wheat; border: thin solid white;">
  <p>
    Thanks for attending my session! <br>
    Please visit the <a href="{{ url }}/presentations/your-first-amazon-alexa-skill/">slides and code page for <em>Your First Amazon Alexa Skill</em></a>.
  </p>
</div>

