<p><em>Experimenting With</em></p>

<p style="text-align: justify; margin-left: 2em;">Kotlin • Home Automation • Home Assistant</p>

<p><em>Experience With</em></p>

{% assign xs = "Java • Node.js • TDD • Automation • REST • Craftsmanship • JUnit • Telecommute • Agile • JSON • HTTP API • Git • Jenkins • Troubleshooting • Continuous Integration • MySQL • AWS S3 RDS Lambda • Refactoring • HAL • GitFlow • Guava • Mac OS X • Linux • Google Glass • Dropwizard • Jersey • Jackson • Jetty • Concurrency • XML • IntelliJ IDEA • Ant • Subversion • Drupal • Ivy • XStream • Windows • D3.js • Express.js • Passport.js • Amazon Echo Alexa • Raspberry Pi " | split: " • " | uniq %}

<p class="text-justify">
  {% for x in xs %}
  &bullet; {{ x }}
  {% endfor %}
</p>
